/* web font for the iNaturalist icon */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?ptv5da');
  src: url('../fonts/icomoon.eot?ptv5da#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ptv5da') format('truetype'),
    url('../fonts/icomoon.woff?ptv5da') format('woff'),
    url('../fonts/icomoon.svg?ptv5da#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inat4:before {
  content: "\e900";
}

/* override styles that we don't like */
#main {
  max-width: 55%;
}

a {
  text-decoration: none;
}

.page__content p {
  font-size: 0.75em;
}

.site-title {
  font-size: 1.2em;
}

.site-subtitle {
  font-style: italic;
}

.page__title {
  font-size: 1.1em;
}

.archive__item-title {
  font-size: 1em;
}

.page__hero--overlay .page__title {
  font-size: 1.6em;
}

.masthead__menu-item {
  font-size: 0.8em;
}

.search-content .search-input {
  font-size: 1em;
}

.page__taxonomy-item {
  font-size: 0.6em;
}

.site-logo img{
  border-radius: 50%;
  border: 2px solid #fff;
  max-height: 4rem;
}

.grid__item .archive__item-teaser {
  max-height: 200px;
}

.author__name {
  font-size: 0.9em;
}

.author__bio {
  font-style: italic;
  font-size: 0.8em;
}

figure img {
  max-width: 65%;
}
